body{
    height:100vh;
    background: linear-gradient(to top left, #938590, #850707, #1ca7bd, #ff0008);
    background-size: 400%, 400%;
}

h1{
    display:flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.interactions{
    display:flex;
    justify-content: center;
}


#box{
    background-color: white;
}

.btn-container{
    padding: 1em;
    display: flex;
    gap: 20px;
    
}

#black{
    background-color: black;
    width: 30px;
    height: 30px;
}

button{
    height: 2em;
    font-size: medium;
    font-weight: bold;
}

#fill{
    width: 75px;
}

#random{
    width: 75px;
}   

#clear{
    width: 75px;
}

#gridSizeBtn{
    width: 80px;
    height: 30px; 
    font-size: medium;  
}

.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;    
}

.grid-container{
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: aqua;
    border-width: 5px;
    display: grid;
    background-color: white;
}