h1{
    display:flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.interactions{
    display:flex;
    justify-content: center;
}


#box{
    background-color: white;
}

.btn-container{
    background-color: lightgrey;
    padding: 1em;
    display: flex;
    gap: 20px;
    
}

#black{
    background-color: black;
    width: 30px;
    height: 30px;
}
#white{
    background-color: #ffff;
    width: 30px;
    height: 30px;
}

#clear{
    width: 70px;
    height: 30px;
    font-size: medium;
}

.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;    
}

.grid-container{
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: aqua;
    border-width: 5px;
    display: grid; 
}